apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: hashicorp/http-echo
          args:
            - "-text=Backend conectado ao MySQL"
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: db-secret
          ports:
            - containerPort: 5678
